<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dịch vụ điện hoa | Giao hoa 63 tỉnh thành - FLOWERVIETNAM.VN</title>

    <style>
    </style>
</head>

<body>

    <table cellpadding="0" cellspacing="0" style="width:100%">
        <tbody>
            <tr>
                <td align="center">
                    <table cellpadding="0" cellspacing="0" style="min-width:800px;width:800px">
                        <tbody>
                            <tr>
                                <td align="center" style="background-color:#6a4e65">
                                    <table align="center" bgcolor="#ffffff" cellpadding="0" cellspacing="0"
                                        style="font-family:Arial;min-width:620px" width="620">
                                        <tbody>
                                            <tr>
                                                <td align="center" style="padding:20px;border-bottom:1px solid #dedede">
                                                    <table cellpadding="0" cellspacing="0"
                                                        style="min-width:580px;width:580px;height:88px">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" style="min-width:169px;width:169px">
                                                                    <a href="http://128.199.86.16:4000"
                                                                        style="text-decoration:none;color:#fff"
                                                                        target="_blank">
                                                                        <img src="http://128.199.86.16:4000/assets/demo/logo.jpg"
                                                                            style="width:169px;vertical-align:top;height:88px;min-width:169px"
                                                                            class="CToWUd"> </a></td>
                                                                <td style="min-width:400px;width:400px;padding-left:30px;font-size:16px;font-family:Arial;color:#6a4e65"
                                                                    valign="middle">
                                                                    THÔNG BÁO TỪ<br>
                                                                    <strong>BAN QUẢN TRỊ
                                                                        <a href="http://128.199.86.16:4000"
                                                                            style="text-decoration:none;color:#6a4e65"
                                                                            target="_blank">
                                                                            <span class="il">FLOWERVIETNAM</span>.VN
                                                                        </a>
                                                                    </strong>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="10"> &nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0px 65px">
                                                    <div
                                                        style="line-height:25px;font-family:Arial;font-size:15px;color:#555555">
                                                        Chào bạn&nbsp; <strong><span
                                                                style="color:#6a4e65">{{name}}</span></strong><br>
                                                        <p>Để cấp lại mật khẩu,, Vui lòng click vào đường dẫn dưới đây:
                                                            <a style="color:#6a4e65;text-decoration:underline;font-weight:bold"
                                                                href="{{link}}" target="_blank">
                                                                Link xác nhận khôi phục mật khẩu..</a>
                                                        </p> <br>
                                                        <p>
                                                            Nếu không nhìn thấy đường dẫn, bạn vui lòng chép và dán
                                                            đường dẫn sau vào
                                                            trình duyệt: <a href="{{link}}" target="_blank">{{link}}</a>
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0px 65px">
                                                    <div
                                                        style="line-height:25px;margin-top:15px;font-family:Arial;font-size:15px;color:#555555">
                                                        Mọi thắc mắc xin vui lòng liên hệ hòm mail
                                                        <a href="mailto:cskh.hecta@gmail.com" style="color:#6a4e65"
                                                            target="_blank">cskh@<span
                                                                class="il">flowershop</span>.vn</a>
                                                        để được hỗ trợ và giải đáp.
                                                    </div>
                                                    <div
                                                        style="line-height:25px;margin-top:15px;font-family:Arial;font-size:15px;color:#555555">
                                                        Chúc các bạn có những trải nghiệm thú vị cùng
                                                        <a href="http://128.199.86.16:4000/"
                                                            style="color:#6a4e65;text-decoration:none" target="_blank">
                                                            <span class="il">flowervietnam</span>.vn
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="right"
                                                    style="font-family:Arial;font-size:15px;color:#555555;padding:20px 65px 20px 65px">
                                                    Trân trọng,<br>
                                                    Ban quản trị
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:20px 0px;border-top:1px solid #dedede">
                                                    <table cellpadding="0" cellspacing="0"
                                                        style="font-family:Arial;font-size:12px;color:#525252;width:100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" colspan="5"
                                                                    style="color:#6a4e65;font-size:16px">
                                                                    <b>Công ty cổ phần Appnet Technolody</b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="20">
                                                                    &nbsp;
                                                                </td>
                                                                <td colspan="5">
                                                                    <img src="https://ci5.googleusercontent.com/proxy/nOIdrMbWQmxYrvpqB80cU3DLlN7nsWCojH3fHtmJZOUA4jVTLy4LBdkfSITAeNztpWRGrlfxYGBDOI_tkjr3Z5_IdpOjVi6Sp7zjlXLhGAPu89aZAY2ku_NceNvMcw=s0-d-e1-ft#http://file3.batdongsan.com.vn/FileUpload/LandingPage/ImgNotify/address.jpg"
                                                                        class="CToWUd">&nbsp;&nbsp; Tòa nhà Packsimex,
                                                                    52 Đông du, P.Bến Nghé, Q1, tp.HCM
                                                                </td>
                                                                <td width="20">
                                                                    &nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="20">
                                                                    &nbsp;
                                                                </td>
                                                                <td valign="bottom" width="215">
                                                                    <img src="https://ci4.googleusercontent.com/proxy/saUhyk-3zO2N9rrczrGB3nYhBKUPkbq9ZpqGDA0pcyaCi5OVrnwszXMNsPHvS_9t1GeVdUJRaezkKoASDcCO6abwYnPNtS27Ve-h3fv7dC0KCSAEpLFSksgIiPlPgw=s0-d-e1-ft#http://file3.batdongsan.com.vn/FileUpload/LandingPage/ImgNotify/hotline.jpg"
                                                                        class="CToWUd">&nbsp; Tổng đài CSKH: 0984 946
                                                                    946
                                                                </td>
                                                                <td align="right" valign="bottom" width="190">
                                                                    <img src="https://ci3.googleusercontent.com/proxy/o0I85z9IlKk23erM6qlFeHD3KVXwaP8SP8sMAMec-JpBORpJOOdt60R1RlKuOcO_vwV2UeoNzukLauJLN2rXvIsfyk2qPk9Px1JzRbiy2m2yYfeosl0DhniVHVw=s0-d-e1-ft#http://file3.batdongsan.com.vn/FileUpload/LandingPage/ImgNotify/email.jpg"
                                                                        style="vertical-align:middle"
                                                                        class="CToWUd">&nbsp;&nbsp; <a
                                                                        href="mailto:hotro@batdongsan.com.vn"
                                                                        style="color:#525252;text-decoration:none"
                                                                        target="_blank">hotro@<span
                                                                            class="il">flowershop</span>.vn </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="10">
                                                                    &nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" colspan="5" style="color:#6a4e65">
                                                                    Thành thật xin lỗi nếu email này làm phiền Quý
                                                                    khách!
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" bgcolor="pink"
                                                    style="font-size:12px;color:#696e6e;font-family:Arial;text-align:justify;padding:10px 20px">
                                                    Lưu ý: Đây là email được gửi tự động, bạn không thể trả lời email
                                                    này. Để liên hệ
                                                    với chúng tôi, vui lòng gọi điện hoặc gửi mail cho bộ phận <a
                                                        href="mailto:cskh.hecta@gmail.com"
                                                        style="color:#fff;text-decoration:none" target="_blank">Bộ phận
                                                        Chăm sóc khách hàng </a>.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>